@media screen and (max-width: 768px) {
  .jobs-cont {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
  }
  .search-cont {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-ele-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #475569;
    border-radius: 3px;
    padding-left: 30px;
  }
  .search-input {
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .search-icon-btn {
    border: none;
    background-color: #475569;
    border-radius: 3px;
    padding: 3px;
  }
  .search-icon {
    color: #ffffff;
  }
  .jobs-filter-cont {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .jobs-profile-success-view {
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .jobs-profile-failure-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 250px;
  }
  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 250px;
  }
  .retry-btn {
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 17px;
    font-family: 'roboto';
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px;
  }
  .jobs-filter-line {
    border: 1px solid #f1f5f9;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .jobs-employment-items-cont {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    width: 90%;
    min-height: 20vh;
  }
  .jobs-employment-list-item-head {
    color: #ffffff;
    font-size: 17px;
    font-family: 'roboto';
  }
  .jobs-employment-list-item {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .check-box-input {
    width: 20px;
    margin: 5px;
    outline: none;
    border: none;
  }
  .jobs-employment-list-item-label {
    color: #ffffff;
    font-size: 17px;
    font-family: 'roboto';
  }
  .check-box-input-circle {
    width: 20px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    shape-outside: circle();
  }
  .job-items-cont {
    width: 90%;
  }
  .jobs-items-list-cont {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .jobs-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .search-cont {
    display: none;
  }
  .jobs-filter-cont {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .job-items-cont {
    display: none;
  }
}
