.job-item-details {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.job-item-details-first-cont {
  display: flex;
  flex-direction: column;

  background-color: #343434;
  border-radius: 10px;
  min-height: 40vh;
  width: 100%;
  padding: 15px;
}

.job-item-details-logo-cont {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.job-item-details-logo {
  width: 55px;
  height: 60px;
  margin-right: 10px;
}
.job-item-details-title {
  color: #ffffff;
  font-size: 17px;
  font-family: 'roboto';
}
.job-item-details-job-type-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.job-item-details-loc-type-cont {
  display: flex;
}
.job-item-details-location-cont {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 7px;
}
.job-item-details-line {
  border: 1px solid #f1f5f9;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.job-item-details-des-link-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-item-details-title {
  color: #ffffff;
  font-size: 14px;
  font-family: 'roboto';
}
.company-link {
  color: #6366f1;
  text-decoration: none;
  font-size: 17px;
  font-family: 'roboto';
}
.company-link-cont {
  display: flex;
  align-items: center;
}
.company-link-icon {
  color: #6366f1;
  margin-left: 5px;
}
.job-item-details-description {
  color: #ffffff;
  font-size: 14px;
  font-family: 'roboto';
}
.job-item-details-skills-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.job-item-details-skills-item {
  display: flex;
  align-items: center;
  margin: 20px;
}
.job-item-details-skills-logo {
  width: 45px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .life-at-company-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .life-at-company-img {
    height: 40vh;
    width: 80%;

    margin-top: 10px;
  }
  .job-item-details-similar-job-item {
    display: flex;
    flex-direction: column;
    background-color: #343434;
    border-radius: 10px;
    min-height: 35vh;
    width: 100%;
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .life-at-company-cont {
    display: flex;

    align-items: center;
  }
  .life-at-company-img {
    margin-left: 10px;
    height: 250px;
    width: 250px;
  }

  .job-item-details-similar-job-item {
    display: flex;
    flex-direction: column;
    background-color: #343434;
    border-radius: 10px;
    min-height: 35vh;
    width: 35%;
    padding: 15px;
  }
}
.job-item-details-similar-jobs-title {
  color: #ffffff;
  font-size: 24px;
  font-family: 'roboto';
  width: 90%;
  text-align: left;
}
.job-item-details-similar-jobs-cont {
  display: flex;
  flex-wrap: wrap;
}
.job-item-details-similar-job-item {
  margin: 10px;
}
.jobs-item-details-failure-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
  width: 100%;
}
.job-item-details-failure-title {
  color: #ffffff;
  font-size: 27px;
  font-family: 'roboto';
}
.jobs-item-details-failure-view-img {
  height: 60vh;
  width: 80%;
  max-height: 400px;
  max-width: 600px;
}
.job-item-details-main-cont {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.job-item-details-failure-para {
  color: #cbd5e1;
  font-size: 15px;
  font-family: 'roboto';
}
